$primary: #C8B7A6;

@import '~bootstrap/scss/bootstrap.scss';

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px !important;
    padding: 40px;
    transform: translate(-50%, -50%);
};

.login-title {
  color: #000000;
}